.visually-hidden {
  @include visually-hidden-important;
}

.focusable {
  &:active,
  &:focus {
    @include visually-hidden-off-important;
  }
}

.hidden {
  @include hidden-important;
}

.invisible {
  @include invisible-important;
}


@include selection($color__primary, white);


body {

  &::-webkit-scrollbar {
    width: vr(.4);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,65,116,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color__primary;
    outline: 1px solid slategrey;
  }

}
