
.webform-submission-contact-form{

  @include span(12 of 12);

  .js-form-item{
    margin-bottom: vr(2.75);
    label{
      margin-bottom: vr(.2);
    }

  }

   @include mappy-bp(small){

     input.form-email,
     input.form-text,
     select.form-select,
     textarea.form-textarea{
       @include span(12 of 12);
     }

   }

   @include mappy-bp(land){
     input.webform-button--submit{
       @include span(first 4 of 12);
       float: left;
     }
     .form-item-email,
     .form-item-name,
     .form-item-message
     {
       width: 70%
     }
     select.form-select{
       @include span(first 6 of 12);
     }
   }

   @include mappy-bp(med){

     select.form-select{
       @include span(first 4 of 12);
     }
   }

}
