
.password-strength__indicator{

  &.is-weak{
    background-color: $color__password--weak;
  }

  &.is-fair{
    background-color: $color__password--fair;
  }

  &.is-good{
    background-color: $color__password--good;
  }

  &.is-strong{
    background-color: $color__password--strong;
  }
}
