input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin-top: 1px;
}

input[type="radio"] + label {
  display: inline;
  font-weight: 400;
  padding: 0 0 0 2rem;
}

input[type="radio"]:checked + label {
  background: url("../images/radio/icon-radio-checked.svg") no-repeat;
  background-size: 21px 21px;
}

input[type="radio"] + label {
  background: url("../images/radio/icon-radio.svg") no-repeat;
  background-size: 21px 21px;
}
